<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="nav-link navigation-text mr-5" id="home-link" href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="all-sweets-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-sweets-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <hr class="dropdown-hr">
                <a href="{% url 'products' %}?category=sweets" class="dropdown-item">Sweets</a>
                <a href="{% url 'products' %}?category=chocolate" class="dropdown-item">Chocolate</a>
                <hr class="dropdown-hr">
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-color-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Colour
            </a>
            <div class="dropdown-menu" aria-labelledby="sweet-color-link">
                <!-- Yellow, Red, Brown, White, Green, Black, Blue, Pink, Purple, Assorted -->
                <a href="{% url 'products' %}?color=Black" class="dropdown-item">Black</a>
                <a href="{% url 'products' %}?color=White" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?color=Brown" class="dropdown-item">Brown</a>
                <a href="{% url 'products' %}?color=Blue" class="dropdown-item">Blue</a>
                <a href="{% url 'products' %}?color=Red" class="dropdown-item">Red</a>
                <a href="{% url 'products' %}?color=Green" class="dropdown-item">Green</a>
                <a href="{% url 'products' %}?color=Red" class="dropdown-item">Red</a>
                <a href="{% url 'products' %}?color=Pink" class="dropdown-item">Pink</a>
                <a href="{% url 'products' %}?color=Purple" class="dropdown-item">Purple</a>
                <a href="{% url 'products' %}?color=Yellow" class="dropdown-item">Yellow</a>
                <hr class="dropdown-hr">
                <a href="{% url 'products' %}?color=Assorted" class="dropdown-item">Assorted</a>
                <a href="{% url 'products' %}?color=Rainbow" class="dropdown-item">Rainbow</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-flavour-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Flavour
            </a>
            <div class="dropdown-menu" aria-labelledby="sweet-flavour-link">
                <!-- Toffee, Strawberry, Lemon, Raspberry, Mint, Blackcurrant, Cola, Banana, Watermelon, Cherry, Peach, Bubblegum, Coconut, Butterscotch, Chocolate, Apple -->
                <a href="{% url 'products' %}?flavour=Apple" class="dropdown-item">Apple</a>
                <a href="{% url 'products' %}?flavour=Strawberry" class="dropdown-item">Strawberry</a>
                <a href="{% url 'products' %}?flavour=Lemon" class="dropdown-item">Lemon</a>
                <a href="{% url 'products' %}?flavour=Raspberry" class="dropdown-item">Raspberry</a>
                <a href="{% url 'products' %}?flavour=Lime" class="dropdown-item">Lime</a>
                <a href="{% url 'products' %}?flavour=Cola" class="dropdown-item">Cola</a>
                <a href="{% url 'products' %}?flavour=Mint" class="dropdown-item">Mint</a>
                <a href="{% url 'products' %}?flavour=Blackcurrant" class="dropdown-item">Blackcurrant</a>
                <a href="{% url 'products' %}?flavour=Banana" class="dropdown-item">Banana</a>
                <a href="{% url 'products' %}?flavour=Watermelon" class="dropdown-item">Watermelon</a>
                <a href="{% url 'products' %}?flavour=Cherry" class="dropdown-item">Cherry</a>
                <a href="{% url 'products' %}?flavour=Peach" class="dropdown-item">Peach</a>
                <a href="{% url 'products' %}?flavour=Bubblegum" class="dropdown-item">Bubblegum</a>
                <a href="{% url 'products' %}?flavour=Coconut" class="dropdown-item">Coconut</a>
                <a href="{% url 'products' %}?flavour=Butterscotch" class="dropdown-item">Butterscotch</a>
                <a href="{% url 'products' %}?flavour=Chocolate" class="dropdown-item">Chocolate</a>
                <a href="{% url 'products' %}?flavour=Rainbow" class="dropdown-item">Orange</a>
                <a href="{% url 'products' %}?flavour=Assorted" class="dropdown-item">Assorted</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link navigation-text" href="#" id="sweet-manufacturer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sweets By Brand
            </a>
            <div class="dropdown-menu" aria-labelledby="sweet-manufacturer-link">
                <!-- Haribo, Maynards, Hannahs, Kingsway, Maxons -->
                <a href="{% url 'products' %}?brand=Haribo" class="dropdown-item">Haribo</a>
                <a href="{% url 'products' %}?brand=Maynards" class="dropdown-item">Maynards</a>
                <a href="{% url 'products' %}?brand=Hannahs" class="dropdown-item">Hannahs</a>
                <a href="{% url 'products' %}?brand=Kingsway" class="dropdown-item">Kingsway</a>
                <a href="{% url 'products' %}?brand=Maxons" class="dropdown-item">Maxons</a>
                <a href="{% url 'products' %}?brand=Brays" class="dropdown-item">Brays</a>
                <a href="{% url 'products' %}?brand=Vidal" class="dropdown-item">Vidal</a>
                <a href="{% url 'products' %}?brand=Trolli" class="dropdown-item">Trolli</a>
            </div>
        </li>
    </ul>
</div>