{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container push-down">
    <div class="row">
        <div class="col-12 col-md-4">

                <!-- Image and category -->
                <div class="product-detail-image-container">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="product-detail-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>

                    {% if product.category %}
                        <p class="product-detail-category-label text-center">
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag">{{ product.category.friendly_name }}</i>
                            </a>
                        </p>
                    {% endif %}
                </div>

                <!-- Edit/Delete Product -->
                {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col-6">
                            <a class="delete-button" href="{% url 'delete_product' product.id %}">Delete</a>
                        </div>
                        <div class="col-6">
                            <a class="edit-button" href="{% url 'modify_product' product.id %}">Edit</a>
                        </div>
                    </div>
                {% endif %}
        </div>

        <!-- Content/Desciption -->
        <div class="col-12 col-md-8">
            <div>
                <!-- Product name and favourite status -->
                <p class="home-heading">
                    {{ product.name }}
                    {% if product_in_favourites %}
                        <a href="{% url 'remove_from_favourites' product.id 'products' %}" aria-label="remove product from favourites"> <i class="fas fa-heart"></i></a>
                    {% else %}
                        <a href="{% url 'add_to_favourites' product.id %}" aria-label="add product to favourites"> <i class="far fa-heart"></i></a>
                    {% endif %}
                </p>
                <p class="product-detail-spacing text-center lead">Price : £{{ product.price }} / 100g</p>

                <!-- Product Rating -->
                {% if product.rating %}
                    <div class="product-detail-spacing text-center">
                        {% if product.rating >= 1 %}
                            <i class="fas fa-star"></i>
                            {% if product.rating >= 2 %}
                                <i class="fas fa-star"></i>
                                {% if product.rating >= 3 %}
                                    <i class="fas fa-star"></i>
                                    {% if product.rating >= 4 %}
                                        <i class="fas fa-star"></i>
                                        {% if product.rating >= 5 %}
                                            <i class="fas fa-star"></i>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if product.rating <= 4 %}
                            <i class="fa-regular fa-star"></i>
                            {% if product.rating <= 3 %}
                                <i class="fa-regular fa-star"></i>
                                {% if product.rating <= 2 %}
                                    <i class="fa-regular fa-star"></i> 
                                    {% if product.rating <= 1 %}
                                        <i class="fa-regular fa-star"></i> 
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <p>No Rating</p>
                {% endif %}

                <!-- Description -->
                <p class="product-detail-spacing text-center">{{ product.description }}</p>
                <hr>

                <!-- Select Quantity -->
                <form class="product-detail-form" action="{% url 'add_to_shopping_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p>Quantity:</p>
                            <div class="form-group quantity">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-quantity" data-item_id="{{ product.id }}" id="decrement-quantity_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Max 30 = 3kg -->
                                    <input class="form-control quantity_input" type="number" name="quantity" value="1" min="1" max="30" data-item_id="{{ product.id }}" id="id_quantity_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-quantity" data-item_id="{{ product.id }}" id="increment-quantity_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Keep Shopping / Add to bag buttons -->
                    <div class="row text-center product-detail-button-container">
                        <div class="col-6">
                            <a href="{% url 'products' %}" class="product-detail-button">
                                <i class="fas fa-chevron-left"></i>
                                <span>Keep Shopping</span>
                            </a>
                        </div>
                        <div class="col-6">
                            <input class="product-detail-button" type="submit" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Product Reviews -->
    <div class="row">
        <div class="col">
            {% with reviews.count as total_reviews %}
                <h2 class="review-title">
                    <i class="far fa-comments"></i>
                    {{ total_reviews }} Review{{ total_reviews|pluralize}}
                </h2>
            {% endwith %}
        </div>
    </div>
    <hr>

    <!-- List reviews in the product detail -->
    {% for review in reviews %}
        <div class="review">
            <p class="info">
                {{ review.name }} - {{ review.created }}
                {% if request.user.id == review.username.id %}
                    <button class="delete-review">
                        <a href="{% url 'delete_review' review.id %}">Delete</a>
                    </button>
                {% endif %}
            </p>
            {{ review.content|linebreaks }}
            <hr>
        </div>
    {% empty %}
        <p class="no-reviews">There are no reviews yet.</p>
    {% endfor %}

    <!-- Add a review -->
    <div class="row">
        <div class="col">
            {% if new_review == false %}
                {% if user.is_authenticated %}
                    <form class="add-review-form" method="post">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <input type="submit" class="add-review full-width-action-button" value="Add Review">
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
